django == 4.0.5
psycopg2-binary==2.9.3
environ
gunicorn==20.1.0
redis==4.3.3
requests==2.22.0
djangorestframework==3.13.1
djangorestframework-simplejwt==4.8.0
django-environ==0.8.1
django-filter==21.1
django-rest-framework==0.1.0
djoser==2.1.0
drf-yasg==1.20.0
PyYAML==6.0
whitenoise
python-decouple