<h3> DrA says grab a coffee and view the <a href="{% url 'schema-swagger-ui'%}">docs</a></h3>


<p>To use the browsable API interface, 
    you definitely want to <a href="{% url 'session-login'%}">Login</a>
     Everything is protected down there</p>

<p>You don't have an account ? Ma foo !, I gat you cover -> <a href="localhost:8000/auth/users/">Create Account</a></p>

<p>Things you can do:</p>
<ul>
<li>
    <a href="{%url 'transport_create'%}">Create a new Traveling Company</a>
</li>



</ul>